/*-- scss:rules --*/


/*-- scss:defaults --*/
// Base document colors
$body-bg: #ffffff;
$body-color: rgb(98, 98, 98);
$link-color: #447199;
$navbar-bg: transparent;
$navbar-backdrop-filter: blur(10px);
$navbar-hl: #447199;
$navbar-fg : rgb(98, 98, 98);
// Code blocks
$code-block-bg-alpha: -.8;


